.back{
  position: relative;
  background: transparent url(../images/fondo2.png) repeat top left;
  z-index: 1000;
}
.frontal{
  background: transparent url(../images/fondo3.png) repeat top left;
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: 1;
}