
.slider {
    height: 300px;
    left: 50%;
    margin: -7.5em -12em;
    position: absolute;
    text-align: center;
    top: 300px;
    width: 400px;
}
.slider input {
    position: relative;
    top: -1.5em;
}
input[type='radio'] {
    -webkit-appearance: none;
	  appearance: none;
	  height:15px;
	  width:15px;
	  background:#73008F;
		border-radius: 8px;
	  cursor:pointer;
}
input[type='radio']:checked {
    -webkit-appearance: none;
	  appearance: none;
	  height:15px;
	  width:15px;
	  background:#666;
		border:4px solid #A717F0;
		border-radius: 8px;
}
.slider ul {
	  list-style: none;
    height: 15em;
    position: relative;
    width: 24em;
    -webkit-transform: perspective(1000);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}
.slider ul li {
    left: 0;    
    position: absolute;
    top: 0;
	  background:none;	  
    -webkit-transform-origin: center;    
	  -webkit-transform-style: preserve-3d;	 
	   
}
.slider ul li:nth-child(3){
   -webkit-transition: 1s ease-in-out;
	 -webkit-transform: perspective(1000);
	
}
.slider img {
	 -webkit-transform: perspective(1000);
	  height: 300px;
    width: 400px;
    vertical-align: top;
	  border-radius:8px;
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255,255,255,0.4)));
}
			
/*2*/
#slide2:checked ~ ul li:nth-child(1){
     -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em) translateX(10em); 
	-webkit-transition: 0.5s ease-in-out;		      
	  
}
		
#slide3:checked ~ ul li:nth-child(1){
   -webkit-transform: perspective(1000) rotateY(0deg);
	 -webkit-transition: 1s ease-in-out;		 
}

#slide4:checked ~ ul li:nth-child(1) {
	 -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-20em) translateX(-10em);
	 -webkit-transition: 0.5s ease-in-out;
}

/*1*/
#slide2:checked ~ ul li:nth-child(2){	
   -webkit-transform: perspective(1000) rotateY(0deg);
	 -webkit-transition: 1s ease-in-out;	
}
#slide3:checked ~ ul li:nth-child(2){
   -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-20em)
		translateX(-10em) ;
	-webkit-transition: 0.5s ease-in-out;		
}

#slide4:checked ~ ul li:nth-child(2){
   -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-40em)
		translateX(-20em) ;
	 -webkit-transition: 0.4s ease-in-out; 
}

/*3*/

#slide2:checked ~ ul li:nth-child(3){	   
		-webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
		translateX(20em);
	 -webkit-transition: 0.4s ease-in-out;													
}

#slide3:checked ~ ul li:nth-child(3){
   -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
		translateX(10em);
	  -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(4){
   -webkit-transform: perspective(1000) rotateY(0deg);
	 -webkit-transition: 1s ease-in-out;
	
}

/*4*/																			
#slide2:checked ~ ul li:nth-child(4){	   
		-webkit-transform: perspective(1000) rotateY(-60deg) translateZ(-70em)
		translateX(5em);
	 -webkit-transition: 0.4s ease-in-out;													
}

#slide3:checked ~ ul li:nth-child(4){
   -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
		translateX(20em);
	  -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(4){
   -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
		translateX(10em);
	 -webkit-transition: 1s ease-in-out;
	
}
/*5*/																											
#slide2:checked ~ ul li:nth-child(5){	   
		-webkit-transform: perspective(1000) rotateY(-60deg) translateZ(-90em)
		translateX(5em);
	 -webkit-transition: 0.4s ease-in-out;													
}

#slide3:checked ~ ul li:nth-child(5){
   -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
		translateX(20em);
	  -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(5){
   -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
		translateX(10em);
	 -webkit-transition: 1s ease-in-out;
	
}																								
																									